h1 {margin-bottom:10px !important; }
h2 {margin-bottom: 5px !important; border: 4px solid color:black !important; margin: 0 auto !important;}
small {color:red !important; }
strong {margin-left: 400px !important;}
ul {margin-left: 10px !important; margin-top : 10px !important;}
.master {width: 960px; background:rgb(255,255,250) !important;}
body {background: #E2EAEC !important;}
.comment {color: rgb(0,0,0) !important;}